<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>MagRead</title>

    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/v1/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/v1/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/v1/favicon/favicon-16x16.png"
    />
    <link
      rel="mask-icon"
      href="data:image/svg+xml,%3c?xml%20version='1.0'%20standalone='no'?%3e%3c!DOCTYPE%20svg%20PUBLIC%20'-//W3C//DTD%20SVG%2020010904//EN'%20'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3e%3csvg%20version='1.0'%20xmlns='http://www.w3.org/2000/svg'%20width='700.000000pt'%20height='700.000000pt'%20viewBox='0%200%20700.000000%20700.000000'%20preserveAspectRatio='xMidYMid%20meet'%3e%3cmetadata%3e%20Created%20by%20potrace%201.14,%20written%20by%20Peter%20Selinger%202001-2017%20%3c/metadata%3e%3cg%20transform='translate(0.000000,700.000000)%20scale(0.100000,-0.100000)'%20fill='%23000000'%20stroke='none'%3e%3cpath%20d='M3740%205986%20c-253%20-56%20-470%20-210%20-653%20-463%20-95%20-133%20-175%20-316%20-202%20-463%20-13%20-67%20-21%20-192%20-19%20-266%2011%20-309%20184%20-476%20484%20-469%20233%205%20406%20122%20456%20307%2027%20102%2012%20242%20-34%20317%20-49%2080%20-140%20148%20-235%20176%20-40%2012%20-42%2014%20-39%2046%205%2055%2031%20150%2056%20204%2044%2094%20133%20155%20249%20171%2064%209%20177%206%20225%20-5%20l44%20-9%2019%2044%20c27%2060%2047%20170%2043%20237%20-4%2078%20-25%20121%20-75%20154%20-40%2026%20-50%2028%20-153%2029%20-61%201%20-136%20-4%20-166%20-10z'/%3e%3cpath%20d='M3228%203455%20c-2%20-1%20-45%20-5%20-96%20-8%20-51%20-4%20-97%20-9%20-101%20-12%20-5%20-2%20-26%20-7%20-47%20-11%20-20%20-3%20-82%20-19%20-137%20-36%20-147%20-43%20-253%20-89%20-406%20-175%20-51%20-29%20-96%20-53%20-100%20-53%20-3%200%20-4%2035%20-1%2077%203%2043%204%20104%202%20135%20l-3%2058%20-132%20-5%20c-594%20-20%20-688%20-31%20-717%20-86%20-20%20-36%20-18%20-113%204%20-190%2019%20-66%2024%20-74%2046%20-75%20135%20-7%20218%20-100%20235%20-264%203%20-36%208%20-72%2010%20-80%2016%20-61%2024%20-884%2012%20-1275%20l-3%20-120%20-120%20-5%20c-68%20-3%20-129%20-11%20-142%20-18%20-66%20-37%20-73%20-123%20-25%20-286%20l9%20-29%20524%200%20c289%201%20542%204%20563%207%2088%2014%20111%2052%20105%20170%20-3%2045%20-12%2098%20-21%20119%20l-16%2037%20-85%200%20c-82%200%20-86%201%20-87%2023%200%2012%20-2%2065%20-5%20117%20-10%20222%20-7%201137%204%201200%2029%20162%2075%20235%20185%20290%2055%2027%2071%2031%20137%2029%20194%20-5%20299%20-119%20340%20-369%206%20-41%2014%20-86%2018%20-100%206%20-26%2010%20-953%204%20-1101%20l-3%20-86%20-65%20-6%20c-103%20-8%20-137%20-43%20-137%20-142%200%20-44%2026%20-172%2038%20-183%207%20-7%201036%20-4%201075%203%2051%209%2077%2029%2090%2071%2016%2046%208%20155%20-15%20212%20l-17%2042%20-132%200%20-132%200%20-3%2088%20c-7%20196%20-5%201191%202%201242%2017%20120%2048%20193%20104%20246%20136%20128%20375%20105%20476%20-46%2045%20-68%2077%20-171%2092%20-305%204%20-27%209%20-61%2012%20-75%202%20-14%206%20-304%208%20-645%202%20-425%207%20-636%2014%20-670%2021%20-87%2055%20-124%20137%20-149%2030%20-9%20171%20-15%20394%20-16%20278%20-2%20350%2010%20384%2062%2028%2043%2026%20164%20-5%20239%20-8%2021%20-19%2027%20-53%2031%20-107%2012%20-149%2061%20-161%20188%20-13%20135%20-14%20171%20-20%20575%20-7%20547%20-13%20805%20-19%20835%20-3%2013%20-8%2042%20-11%2065%20-7%2052%20-41%20158%20-66%20207%20-58%20114%20-207%20209%20-369%20234%20-19%203%20-38%208%20-43%2011%20-17%2011%20-249%203%20-327%20-11%20-112%20-20%20-295%20-75%20-396%20-119%20-81%20-35%20-211%20-102%20-228%20-118%20-16%20-15%20-22%20-11%20-50%2031%20-42%2064%20-67%2089%20-125%20128%20-71%2047%20-170%2079%20-267%2087%20-43%204%20-91%208%20-106%2010%20-15%202%20-28%202%20-30%200z'/%3e%3c/g%3e%3c/svg%3e"
      color="#6c6c6c"
    />
    <meta name="msapplication-TileColor" content="#00aba9" />
    <meta name="theme-color" content="#ffffff" />
    <script async src="/v1/assets/<%= assets.script %>"></script>
    <link rel="stylesheet" href="/v1/assets/<%= assets.style %>" />
  </head>
  <body>
    <div id="magread"></div>
    <script>
      window.MagreadConfig = {
        files: "<%= files %>",
        url: "<%= url %>",
        server: "<%= server %>",
        haveWebp: <%= webpReady %>,
      };
    </script>
  </body>
</html>
