<%- include('../partials/header', { title: 'Login', isLoggedIn:false }) %>
<h1><%= __('Forgot yout password')%> ?</h1>
<p>
  <%= __("Enter your email adress and we'il send you the link to reset
  password.")%>
</p>

<form action="/users" method="post">
  <label for="email">Email:</label>
  <input
    type="email"
    id="email"
    name="email"
    value="test@test.com"
    required
    autocomplete="current-email"
  />

  <button type="submit"><%= __('Reset password')%></button>
  <a href="/login"><%= __('Back to login page')%></a>
</form>

<script>
  const form = document.querySelector("form");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const email = document.querySelector("#email").value;

    const response = await fetch("/auth/forgot-password", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ email }),
    });

    const data = await response.json();
  });
</script>

<%- include('../partials/footer') %>
